<template>
    <div class="s-container pt-5">
        <search></search>
        <h1 class="s-parent-titles">Гостиницы</h1>
        <div class="s-title-divider"></div>

        <div class="s-hotels-wrapper">
            <div class="s-hotel-filter">
                <div class="form-group">
                    <label>Введите направление</label>
                    <input type="text" class="form-control" placeholder="Ташкент">
                </div>
                <div class="form-group">
                    <label>Даты</label>
                    <input type="text" class="form-control" placeholder="Ташкент">
                </div>
                <div class="form-group">
                    <label>Гости</label>
                    <input type="text" class="form-control" placeholder="Ташкент">
                </div>
                <button class="btn btn-block s-btn-primary w-100">Поиск</button>
                
            </div>
            <div class="s-hotel-list">
                <div class="s-hotel-card">
                    <div class="s-card-image">
                        <img src="../../assets/wyndham.jpeg" alt="">
                    </div>
                    <div class="s-card-content">
                        <div class="s-content-title">
                            <p>Гостиница Wyndham Tashkent</p>
                        </div>
                        <div class="s-content-about">
                            <p>Регион: Республика Каракалпакстан</p>
                            <p>Город: Нукус</p>
                            <p>Адрес: Каракалпакстан,Муйнак</p>
                        </div>
                        <div class="s-hotel-icons">
                           <i class="fas fa-parking"></i>
                           <i class="fas fa-parking ml-2"></i>
                           <i class="fas fa-parking ml-2"></i>
                           <i class="fas fa-parking ml-2"></i>
                           <i class="fas fa-parking ml-2"></i>
                        </div>
                        <div class="s-content-text w-100 d-flex pr-2">
                            <button class="btn btn-info ml-auto">
                                <router-link to="/single-hotel">Посмотрет</router-link>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="s-hotel-card">
                    <div class="s-card-image">
                        <img src="../../assets/wyndham.jpeg" alt="">
                    </div>
                    <div class="s-card-content">
                        <div class="s-content-title">
                            <p>Гостиница Wyndham Tashkent</p>
                        </div>
                        <div class="s-content-about">
                            <p>Регион: Республика Каракалпакстан</p>
                            <p>Город: Нукус</p>
                            <p>Адрес: Каракалпакстан,Муйнак</p>
                        </div>
                        <div class="s-hotel-icons">
                           <i class="fas fa-parking"></i>
                           <i class="fas fa-parking ml-2"></i>
                           <i class="fas fa-parking ml-2"></i>
                           <i class="fas fa-parking ml-2"></i>
                           <i class="fas fa-parking ml-2"></i>
                        </div>
                        <div class="s-content-text w-100 d-flex pr-2">
                            <button class="btn btn-info ml-auto">
                                <router-link to="/single-hotel">Посмотрет</router-link>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="s-hotel-card">
                    <div class="s-card-image">
                        <img src="../../assets/wyndham.jpeg" alt="">
                    </div>
                    <div class="s-card-content">
                        <div class="s-content-title">
                            <p>Гостиница Wyndham Tashkent</p>
                        </div>
                        <div class="s-content-about">
                            <p>Регион: Республика Каракалпакстан</p>
                            <p>Город: Нукус</p>
                            <p>Адрес: Каракалпакстан,Муйнак</p>
                        </div>
                        <div class="s-hotel-icons">
                           <i class="fas fa-parking"></i>
                           <i class="fas fa-parking ml-2"></i>
                           <i class="fas fa-parking ml-2"></i>
                           <i class="fas fa-parking ml-2"></i>
                           <i class="fas fa-parking ml-2"></i>
                        </div>
                        <div class="s-content-text w-100 d-flex pr-2">

                            <button class="btn btn-info ml-auto">
                                <router-link to="/single-hotel">Посмотрет</router-link>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import Search from '../Main/Search.vue'

export default {
    name: 'Hotels',
    components: {
        Search
    }
}
</script>
<style lang="css">
    .s-container {
        width: 1315px;
        max-width: 100%;
        margin: 0 auto;
    }

    .s-hotels-wrapper {
        width: 100%;
        padding: 50px 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .s-hotel-filter {
        width: 30%;
        border: 2px solid #eeeeee;
        padding: 40px 20px;
        margin-top: 15px;
    }

    .s-hotel-list {
        width: 68%;
    }

    .s-hotel-card {
        width: 100%;
        height: 300px;
        border: 2px solid #eeeeee;
        display: flex;
        justify-content: flex-start;
        margin-top: 15px;
        /* box-shadow: 0 0.25rem 0.438rem 0 rgb(0 11 38 / 20%) */
    }

    .s-card-image {
        width: 35%;
        height: 100%;
        padding: 10px;
    }

    .s-card-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .s-card-content {
        width: 65%;
        padding: 10px 0;
    }

    .s-content-title {
        padding-bottom: 5px;
        border-bottom: 1px solid #eeeeee;
    }

    .s-content-title p {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 0;
    }

    .s-content-about {
        padding: 10px 0;
        border-bottom: 1px solid #eeeeee;
    }

    .s-content-about p {
        margin-bottom: 0;
        margin-top: 5px;
    }

    .s-hotel-icons {
        font-size: 25px;
        color: rgb(192, 192, 192);
        padding: 25px 0;
    }

    .s-hotel-icons i {
        margin-left: 15px;
    }

    a {
        color: #fff;
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
        color: #000;
    }

    

</style>