<template>
    <div class="s-container pt-5 pb-5">
        <h1 class="s-parent-titles">Гостиница Wyndham Tashkent</h1>
        <div class="s-title-divider"></div>

        <div class="s-single-gallery pt-5">
            <div class="left-gallery">
                <img src="../../assets/wyndham.jpeg" alt="">
            </div>
            <div class="right-gallery">
                <img src="../../assets/room1.jpeg" alt=""> 
                <img src="../../assets/room2.jpeg" alt=""> 
                <img src="../../assets/room3.jpeg" alt=""> 
                <img src="../../assets/room4.jpeg" alt=""> 
            </div>
        </div>
        <h1 class="s-parent-titles pt-4">Удобства гостиницы</h1>
        <div class="s-title-divider"></div>
        <div class="s-single-text pt-4 pb-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad provident cumque expedita dolorem magni earum, commodi, 
                non ullam velit accusamus voluptas molestiae corporis ducimus distinctio, 
                eaque porro amet obcaecati qui illo minus enim libero rem similique. Enim nihil vitae quibusdam.
            </p>
            <div class="s-single-icons">
                <div class="single-icon-items">
                    <i class="fas fa-parking"></i> <span>Parking</span>
                </div>
                <div class="single-icon-items">
                    <i class="fas fa-parking"></i> <span>Parking</span>
                </div>
                <div class="single-icon-items">
                    <i class="fas fa-parking"></i> <span>Parking</span>
                </div>
                <div class="single-icon-items">
                    <i class="fas fa-parking"></i> <span>Parking</span>
                </div>
                <div class="single-icon-items">
                    <i class="fas fa-parking"></i> <span>Parking</span>
                </div>
                <div class="single-icon-items">
                    <i class="fas fa-parking"></i> <span>Parking</span>
                </div>
            </div>
        </div>
        <h1 class="s-parent-titles pt-4">Комнаты гостиницы</h1>
        <div class="s-title-divider"></div>
        <div class="s-signle-rooms">
            <div class="s-single-room-list">
                <div class="s-single-room-card">
                    <div class="room-image">
                        <img src="../../assets/room1.jpeg" alt="">
                    </div>
                    <div class="room-content">
                        <div class="room-title">
                            <p>Двухместный номер (1 большая кровать)</p>
                            <p>{{ roomPrice }} UZS за одну ночь</p>
                        </div>
                        <div class="room-category">
                            <p>Категория: lux</p>
                            <div class="room-select">
                                <select @change="bron" v-model="roomCount">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                        </div>
                        <div class="room-icons">
                            <i class="fas fa-wifi"></i>
                            <i class="fas fa-wifi ml-2"></i>
                            <i class="fas fa-wifi ml-2"></i>
                            <i class="fas fa-wifi ml-2"></i>
                            <i class="fas fa-wifi ml-2"></i>
                            <i class="fas fa-wifi ml-2"></i>
                        </div>
                        <div class="room-sigara pt-3">
                            <p>Комната для курящих: Да</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="s-single-room-bron">
                <div class="bron-sum">
                    <p>{{ price }}</p><span>UZS</span>
                </div>
                <div class="form-group pt-3 pb-3">
                        <label>Даты</label>
                        <input type="date" class="form-control">
                </div>
                <div class="bron-rooms" v-show="roomshow">
                    <div class="bron-room-name">
                        <p>{{ roomName }} x{{ roomCount }}</p>
                    </div>
                    <div class="bron-room-sum">
                        <p> {{ roomPrice }} UZS </p>
                    </div>
                </div>
                <div class="all-sum-bron">
                    <p>Всего: </p>
                    <p>{{ price }}UZS</p>
                </div>
                <div class="bron-button" v-show="roomshow">
                    <button class="btn btn-block btn-info">Забронировать</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: 'SingleHotel',
    data() {
        return {
            price: 0,
            roomName: 'Двухместный номер (1 большая кровать)',
            date: null,
            roomPrice: 1550000,
            roomshow: false,
            roomCount: 0,
        }
    },
    methods: {
        bron(event) {
            console.log(event.target.value);
            if(event.target.value == 0) {
                this.roomshow = false;
            }

            var allPrice = this.roomPrice * event.target.value;
            this.price = allPrice;
            this.roomshow = true;
        }
    }
}
</script>
<style lang="css">
    .s-single-gallery {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding-bottom: 20px;
    }

    .left-gallery {
        width: 50%;
        height: 605px;
    }

    .left-gallery img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-top: 5px;
    }

    .right-gallery {
        width: 50%;
        margin-left: 5px;
    }

    .right-gallery img {
        width: 300px;
        height: 300px;
        margin-left: 5px;
        margin-top: 5px;
        object-fit: cover;
    }

    .s-single-icons {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }

    .single-icon-items {
        width: 50%;
        font-size: 25px;
        margin-top: 10px;
    }

    .s-signle-rooms {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 30px 0;
    }

    .s-single-room-list {
        width: 65%;
        padding: 20px;
        border: 1px solid #eeee;
    }

    .s-single-room-bron {
        width: 30%;
        padding: 20px;
        border: 1px solid #eeee;
        margin-left: 5px;
    }    

    .s-single-room-card {
        width: 100%;
        height: 300px;
        border: 1px solid #eeee;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .room-image {
        width: 35%;
        height: 100%;
        padding: 15px;
    }

    .room-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .room-content {
        width: 65%;
        padding-top: 15px;
    }

    .room-title {
        border-bottom: 1px solid #eeee;
    }

    .room-title p {
        font-size: 20px;
        font-weight: 600;
    }

    .room-category {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-top: 15px;
        border-bottom: 1px solid #eeee;
        font-size: 20px;
    }

    .room-icons {
        padding-bottom: 10px;
        padding-top: 10px;
        border-bottom: 1px solid #eeee;
        font-size: 25px;
    }

    .bron-sum {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        font-weight: 700;
        padding-bottom: 20px;
        border-bottom: 1px solid #eee;
    }

    .bron-sum p {
        margin: 0;
    }

    .bron-sum span {
        margin-left: 10px;
    }

    .bron-rooms {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
    }

    .bron-room-name {
        width: 70%;
    }

    .bron-room-sum {
        width: 30%;
    }

    .all-sum-bron {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

</style>