<template>
    <div class="s-container pt-5">
        <h1 class="s-parent-titles">Музей Археологии Термеза</h1>
        <div class="s-title-divider"></div>

        <div class="s-put-image pt-4">
            <img src="http://newsafar.beget.tech/uploads/images/2021-06-04/5oOajPOvUk2G6ACN1zQAPU5eJxj0BdNlSXnor9Vm.jpg" width="100%" alt="">
        </div>
        <div class="s-put-about">
            <p>Музей Археологии Термеза открыл свои двери для посетителей 2 апреля 2002 года и был основан в честь 2500-летия города Термез. Музей является единственным музеем археологии в Узбекистане. Музей состоит из вестибюля, 9 основных выставочных залов, выставочного зала нумизматики, выставочного зала, посвященного японскому археологу Като Кюдзо, небольшого выставочного зала и галереи-павильона. В музее также есть библиотека, в которой хранятся редкие рукописи и литература. 
                Коллекция музея включает в себя более 100 тысяч экспонатов от каменного века до начала 20 веков.
                В библиотеке хранится более 3700 рукописей, историческая литература и художественная литература.
                Как добраться: музей находиться в центре города Термез на проспекте Ат-Термизий 29, в 7 минутах ходьбы от 
                железнодорожного вокзала. Режим работы: Понедельник-Воскресенье с 09 до 18. Стоимость входных билетов: Взрослым: 3 000 сум 
                Учащиеся школ: 1000 сум Студенты: 2 000 сум Граждане СНГ: 10 000 сум Остальные иностранные граждане: 20 000 сум
            </p>
        </div>
        <div class="s-put-map">
            <h1 class="s-parent-titles">Посмотреть на карте</h1>
            <div class="s-title-divider"></div>

            <div class="s-single-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3281.322997636649!2d67.28273366243998!3d37.244269632091154!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzfCsDE0JzM5LjkiTiA2N8KwMTYnNTcuNiJF!5e0!3m2!1sru!2sus!4v1628797712575!5m2!1sru!2sus" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <div class="s-single-infos">
            <h1 class="s-parent-titles">Доп.инфо</h1>
            <div class="s-title-divider"></div>

            <div class="s-infos-object">
                <p> <i class="fas fa-map-marker-alt"></i> <span>Адрес: Термез</span>  </p>
                <p> <i class="fas fa-phone-square-alt"></i> <span> Телефон: +998940325358 </span> </p>
                <p> <i class="far fa-clock"></i> <span> Время работы: 09:00 - 18:00 </span>  </p>
            </div>
        </div>
        <div class="s-put-tours">
            
        </div>
    </div>
</template>
<script>
export default {
    name: 'SinglePut'
}
</script>
<style lang="css">
    .s-put-about {
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .s-put-about p {
        font-size: 24px;
        text-align: justify;
    }

    .s-single-map {
        padding-top: 20px;
        width: 100%;
    }

    .s-single-infos {
        padding: 20px 0;
    }

    .s-infos-object {
        width: 100%;
        padding-top: 25px;
    }

    .s-infos-object p {
        display: flex;
        align-items: center;
        font-size: 25px;
    }

    .s-infos-object p span {
        margin-left: 10px;
    }

</style>