<template>
  <div class="s-container pt-5">
    <h1 class="s-parent-titles">Информация Гида</h1>
    <div class="s-title-divider"></div>

    <div class="s-guide-wrapper">
        <div class="s-left-guid-menu">
            <div class="left-guid-img">
                <img src="http://newsafar.beget.tech/uploads/images/2021-04-19/HmjVw0kyE992jBxzFP35VG8YJHDJyyyZrVE6VelQ.jpg" alt="">
            </div>
            <div class="left-guide-info">
                <h1>Турсуналиев Абдуллох</h1>
                <div class="divider"> </div>
                <div class="guid-languages">
                    <div class="g-lang-icon">
                        <i class="fas fa-language"></i>
                    </div>
                    <span>Русский</span>
                </div>
                <div class="guid-languages">
                    <div class="g-lang-icon">
                        <i class="fas fa-language"></i>
                    </div>
                    <span>O'zbekcha</span>
                </div>
                <div class="divider"> </div>
                <div class="guid-region">
                    <div class="g-lang-icon">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <span>Регион: Ташкентская область</span>
                </div>
                <div class="guid-region">
                    <div class="g-lang-icon">
                        <i class="far fa-building"></i>
                    </div>
                    <span>Город: Ташкент</span>
                </div>
                <div class="divider"></div>
                <div class="guid-prices">
                    <span>Цена работы за день</span>
                </div>
                <div class="prices">
                    <span>250 000 сум</span>
                </div>
                <div class="guid-prices">
                    <span>Цена работы с авто</span>
                </div>
                <div class="prices">
                    <span>500 000 сум</span>
                </div>
                <div class="divider"></div>
                <div class="guid-license-btn">
                    <button>Сертификат</button>
                </div>
            </div>
        </div>
        <div class="s-right-content">
            <p>Приветствую дорогие гости! Меня зовут Жон и я частный гид в городе Ташкенте. 
                C большим удовольствием готов ознакомить Вас со всеми достопримечательностями нашего древнего, 
                уютного и в то же время современного города Ташкента. Люблю знакомиться с новыми и интересными людьми, 
                люблю делиться своими знаниями и перенимать опыт других людей. По образованию я юрист, но любовь к истории, 
                культуре и обычаем заложена с детства моими родителями. Родные два языка Русский и Узбекский, Английский в совершенстве. 
                Показываю туристам город для души, а не ради обогащения.
            </p>
        </div>
    </div>
    <h1 class="s-parent-titles">Галерея Гида</h1>
    <div class="s-title-divider"></div>
    <div class="s-single-gallery pt-5">
        
        <div class="left-gallery">
            <img src="http://newsafar.beget.tech/uploads/images/2021-05-25/iWOyyF69v3NRgbmDI2GxFNP8A0HEKDiNq66i2st5.jpg" alt="">
        </div>
        <div class="right-gallery">
            <img src="http://newsafar.beget.tech/uploads/images/2021-05-25/sZ3yUGKoopg1cKhtdHGxXZr9IhryLTRhrr1mjVn3.jpg" alt=""> 
            <img src="http://newsafar.beget.tech/uploads/images/2021-05-25/HAebXcyqr64FZcon9rVL2ItduiHMW87lLPcGZgvd.jpg" alt=""> 
            <img src="http://newsafar.beget.tech/uploads/images/2021-05-25/iWOyyF69v3NRgbmDI2GxFNP8A0HEKDiNq66i2st5.jpg" alt=""> 
            <img src="http://newsafar.beget.tech/uploads/images/2021-06-01/r31OUEVMv7xu65V4w9BA4uGShRZMBLOj10dSVAMW.jpg" alt=""> 
        </div>
    </div>
     <h1 class="s-parent-titles pt-4">Авторские экскурсии</h1>
        <div class="s-title-divider"></div>
        <div class="s-signle-rooms">
            <div class="s-single-room-list">
                <div class="s-single-room-card">
                    <div class="room-image">
                        <img src="http://newsafar.beget.tech/uploads/images/2021-05-25/iWOyyF69v3NRgbmDI2GxFNP8A0HEKDiNq66i2st5.jpg" alt="">
                    </div>
                    <div class="room-content">
                        <div class="room-title">
                            <p>Экскурсия: Тур в Термез</p>
                            <p>200 000 UZS</p>
                        </div>
                        <div class="room-category">
                            <div class="license">
                                <div class="license-icon">
                                    <img src="http://newsafar.beget.tech/assets/img/icons/cert-tick-icon.svg" alt="">
                                </div>
                                <span>Сертифицирован</span>
                            </div>
                        </div>
                        <div class="excursion-text">
                            <p>Тур в буддийский центр Узбекистана.</p>
                        </div>
                        <div class="room-sigara pt-3">
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="s-single-room-bron">
                <div class="s-guid-calendar">
                    <p>Свободные дни по календарю</p>
                </div>
                <div class="form-group pt-3 pb-3">
                        <label>Даты</label>
                        <input type="date" class="form-control">
                </div>
            
            </div>
        </div>
  </div>
</template>

<script>
export default {
    name: 'SingleGuid'
}
</script>

<style>

.s-guide-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 0;
}

.s-left-guid-menu {
    width: 35%;
    /* -webkit-box-shadow: 1px 2px 15px 5px #CECECE; 
    box-shadow: 1px 2px 15px 5px #CECECE; */
    border: 1px solid #eeee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.s-right-content {
    width: 64%;
    border: 1px solid #eeee;
    padding: 15px;
    margin-left: 1%;
}

.s-right-content p {
    width: 100%;
    text-align: justify;
    font-size: 20px;
}

.left-guide-info {
    width: 100%;
    padding: 15px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-guid-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

.left-guid-img img {
    width: 100%;
    height: 100%;
}

.left-guide-info h1 {
    font-size: 22px;
    padding: 15px 0;
}

.divider {
    width: 100%;
    height: 2px;
    background: #2fc7cb;
}

.guid-languages {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
}

.g-lang-icon {
    width: 15%;
    font-size: 25px;
}

.guid-region {
     width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
}

.guid-prices {
    width: 100%;
    font-size: 20px;
}

.prices {
    width: 100%;
    font-size: 20px;
    color: #2fc7cb;
}

.guid-license-btn {
    width: 100%;
    padding: 10px 0;
}

.guid-license-btn button {
    display: block;
    width: 100%;
    padding: 10px 20px;
    background: #2fc7cb;
    color: #fff;
    border: none;
    outline: none;
}

.license {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.excursion-text {
    padding: 10px 0;
    font-size: 16px;
}

.s-guid-calendar {
    width: 100%;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #2fc7cb;
}

</style>