<template>
    <div class="s-container pt-5">
        <h1 class="s-parent-titles">Amirsoy</h1>
        <div class="s-title-divider"></div>

        <div class="s-tour-gallery">
            <img src="http://newsafar.beget.tech/uploads/images/2021-05-22/i8kQk1wMVevuAXcIBN9FdM39Dj4gUhEbYtCnRbfi.jpg" alt="">
        </div>
        <div class="s-gallery-items">
            <div class="s-item">
                <img src="http://newsafar.beget.tech/uploads/images/2021-05-22/i8kQk1wMVevuAXcIBN9FdM39Dj4gUhEbYtCnRbfi.jpg" alt="">
            </div>
            <div class="s-item">
                <img src="http://newsafar.beget.tech/uploads/images/2021-04-18/huL1Qn8x93uHlxe90GZsR5lb2VuoPr3MtI47O5Cs.jpg" alt="">
            </div>
            <div class="s-item">
                <img src="http://newsafar.beget.tech/uploads/images/2021-04-18/IFvgCfES2tW6drV5ZH9lFeL50kKmt4tYEkMhS2XF.jpg" alt="">
            </div>
        </div>
        <div class="s-single-tour-desc">  
            <h1 class="s-parent-titles">Описание тура</h1>
            <div class="s-title-divider"></div>

            <div class="tour-desc-text">
                <p>Друзья Amirsoy Resort постепенно возобновляет работу.Уже сегодня Вы можете заселяться в 
                    Le Chalet by Amirsoy. Проведите Рамадан со своей семьёй у нас в горах.Весной на нашем курорте по 
                    особенному красиво. Заснеженные горы сменяются зелёными пейзажами. Шале в альпийском стиле дополняют 
                    атмосферу природы и уединения, 
                    а внимательный и ненавязчивый персонал сделает Ваш отдых незабываемым.</p>
            </div>
        </div>
        <div class="s-single-tour-infos">
            <div class="tour-infos-item">
                <div class="item-icon-parent">
                    <i class="fas fa-binoculars"></i>
                </div>    
                <span>Вид тура: Горный тур</span>
            </div>
            <div class="tour-infos-item">
                <div class="item-icon-parent">
                    <i class="fas fa-route"></i>
                </div>             
                <span>Маршрут: Ташкент-Амирсой</span>
            </div>
            <div class="tour-infos-item">
                <div class="item-icon-parent">
                    <i class="far fa-clock"></i>
                </div>
                <span>Длительность (В днях): 2 дней</span>
            </div>
            <div class="tour-infos-item">
                <div class="item-icon-parent">
                    <i class="fas fa-history"></i>
                </div>
                <span>Длительность (В часах): 36 часов</span>
            </div>
            <div class="tour-infos-item">
                <div class="item-icon-parent">
                    <i class="far fa-comment-alt"></i>
                </div>
                <span>Отзывы: 0</span>
            </div>
            <div class="tour-infos-item">
                <div class="item-icon-parent">
                    <i class="far fa-building"></i>
                </div>
                <span>Тур оператор: Asia travel</span>
            </div>
            <div class="tour-infos-item">
                <div class="item-icon-parent">
                    <i class="fas fa-users"></i>
                </div>
                <span>Максимальный размер группы: 35</span>
            </div>
            <div class="tour-infos-item">
                <div class="item-icon-parent">
                    <i class="fas fa-map-marker-alt"></i>
                </div>
                <span> Республика Каракалпакстан</span>
            </div>
             <div class="tour-infos-item">
                <div class="item-icon-parent">
                    <i class="fas fa-dollar-sign"></i>
                 </div>
                <span> Стоимост: 600 000 сум</span>
            </div>
        </div>
        <div class="s-single-tour-btns">
            <button>Написат тур агенту</button>
            <button class="ml-2">Бронироват тур</button>
        </div>
    </div>
</template>
<script>


export default {
    
}
</script>
<style lang="css">
    .s-tour-gallery {
        width: 100%;
        padding: 20px 0;
    }

    .s-tour-gallery img {
        width: 100%;
        object-fit: contain;
    }

    .s-gallery-items {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 10px 0;
    }

    .s-gallery-items .s-item {
        width: 300px;
        height: 150px;
        margin: 0 10px;
    }

    .s-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .s-single-tour-desc {
        padding: 20px 0;
    }

    .tour-desc-text {
        padding: 20px 0;
        font-size: 24px;
        text-align: justify;
    }

    .s-single-tour-infos {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .tour-infos-item {
        width: 45%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 25px;
        margin-top: 10px;
        color: #2fc7cb;
    }

    .tour-infos-item span {
        margin-left: 10px;
        color: #000 !important;
    }

    .item-icon-parent {
        width: 7%;
        display: flex;
        justify-content: center;
    }

    .s-single-tour-btns {
        width: 100%;
        padding: 20px 0;
    }

    .s-single-tour-btns button {
        padding: 20px 40px;
        background: #2fc7cb;
        color: #fff;
        border: none;
        outline: none;
    }

    .ml-2 {
        margin-left: 10px;
    }

</style>