<template>
    <div class="s-container">
        <div class="s-navbar">
            <div class="s-navbar-logo">
                <router-link to="/puts">
                    <img src="../../assets/Art-2.png" class="logo" alt="">
                </router-link>
            </div>
            <div class="s-navbar-lang">
                <div class="lang-menu">
                    <i class="fas fa-globe"></i>
                    Русский
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: 'Navbar'
}
</script>
<style lang="css">
    .s-navbar {
        width: 100%;
        height: 80px;
        padding: 10px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        width: 150px;
        height: 35px;
    }

    .lang-menu {
        font-size: 23px;
        color: #2fc7cb;
    }
</style>