<template>
    <div class="s-container pt-5">
        <search></search>
        <h1 class="s-parent-titles">Путеводитель</h1>
        <div class="s-title-divider"></div>
        <div class="s-puts-parent">
            <router-link 
                to="/putlist"
                tag="div"
                class="s-put-items"
                style="background-image: url(http://newsafar.beget.tech/uploads/images/2021-04-06/7ublrMWTzUDlr62RfuinkKAKW82uDKi3HePscVjD.jpg);"
            >
            
                <h3>Активный отдых</h3>
            </router-link>
            
            <div class="s-put-items" style="background-image: url(http://newsafar.beget.tech/uploads/images/2021-04-06/DUEK1nl3tkXuf1L3Fjl4yiiWXakTuvy4sPQTsnOy.jpg);">
                <h3>Музеи и театры</h3>
            </div>
            <div class="s-put-items" style="background-image: url(http://newsafar.beget.tech/uploads/images/2021-04-06/xlSwC9vgQZYjW6vtF49QIm0bvH5TaRwcRuZbUyAU.jpg);">
                <h3>Достопримечательности</h3>
            </div>
            <div class="s-put-items" style="background-image: url(http://newsafar.beget.tech/uploads/images/2021-04-06/eTnpCvY2dsnyj6HaL9tf7sTK1cesuZK0eYWzdyoq.jpg);">
                <h3>Озера и водохранилища</h3>
            </div>
            <div class="s-put-items" style="background-image: url(http://newsafar.beget.tech/uploads/images/2021-04-06/bVDOtKgQpj9kLhdE4FgZyJawo34qoTKE6bqT7fRA.jpg);">
                <h3>Развлечения и отдых</h3>
            </div>
            <div class="s-put-items" style="background-image: url(http://newsafar.beget.tech/uploads/images/2021-04-06/OAh15gWaaGvhGgA1VlsR8XhOKN2q9gSTYdhJCNS6.jpg);">
                <h3>Пляжи</h3>
            </div>
            <div class="s-put-items" style="background-image: url(http://newsafar.beget.tech/uploads/images/2021-04-06/i0PI2IojZQL4daiH0u3dDNGB1zmDjt515vvUzBYG.jpg);">
                <h3>Природа</h3>
            </div>
            <div class="s-put-items" style="background-image: url(http://newsafar.beget.tech/uploads/images/2021-04-06/vcReMi71CNBoWMZu4EXbeyrKaaydu8AdvbYVEhAb.jpg);">
                <h3>Города и поселки</h3>
            </div>
            <div class="s-put-items" style="background-image: url(http://newsafar.beget.tech/uploads/images/2021-05-26/Wags2XrKhrysvV0zaoZWpRspK1eDIB6tCM7X2KNo.jpg);">
                <h3>Необычные места</h3>
            </div>
            
        </div>
    </div>
</template>
<script>
import Search from './Search.vue'

export default {
    name: 'Puts',
    components: {
        Search
    }
}
</script>
<style lang="css">
    .s-parent-titles {
        font-size: 40px;
        text-transform: uppercase;
    }

    .s-title-divider {
        width: 180px;
        height: 2px;
        background: #2fc7cb;
    }

    .s-puts-parent {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0;
    }

    .s-put-items {
        width: 32%;
        height: 400px;
        background-size: cover;
        border-radius: 25px;
        position: relative;
        margin: 10px 0;
        box-shadow: 0 0.25rem 0.438rem 0 rgb(0 11 38 / 20%)
    }

    .s-put-items h3 {
        position: absolute;
        bottom: 20px;
        left: 20%;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        text-shadow: 0 0 10px rgb(0 0 0 / 75%);
    }

</style>