<template>
    <div class="s-banner-content pt-4 pb-1">
        <div class="s-container">
            <div class="s-search-parent">
                <div class="s-search-menu">
                    <div class="s-menu-item">
                        <i class="fas fa-book-open"></i>
                        <a>
                            <router-link to="/puts">Путеводитель</router-link>
                        </a>
                    </div>
                    <div class="s-menu-item">
                        <i class="fas fa-hotel"></i>
                        <a>
                            <router-link to="/hotels">Гостиницы</router-link>
                        </a>
                    </div>
                    <div class="s-menu-item">
                        <i class="fas fa-globe-europe"></i>
                        <a>
                            <router-link to="/tours">Туры</router-link>
                        </a>
                    </div>
                    <div class="s-menu-item">
                        <i class="fas fa-user-graduate"></i>
                        <a>
                            <router-link to="/guides">Гиды</router-link>
                        </a>
                    </div>
                    <div class="s-menu-item">
                        <i class="far fa-building"></i>
                        <a>
                            <router-link to="/agents">Турфирмы</router-link>
                        </a>
                    </div>
                </div>
                <div class="s-search-content">
                    <div class="inputs">
                        <input type="text" class="s-search-input" placeholder="Куда вы хотите ехать?">
                    </div>
                    <div class="search-button-parent">
                        <button class="btn s-btn-primary">Поиск</button>
                    </div>
                </div>
            </div>
        </div>            
    </div>
</template>
<script>
export default {
    name: 'Search'
}
</script>
<style lang="css">
    /* .s-banner-content {
        width: 100%;
        height: 700px;
        background: url('../../assets/expedia.webp');
        background-position: bottom;
        background-size: 100% auto;
        padding: 60px 0;
    } */

    .s-search-parent {
        width: 100%;
        height: 320px;
        position: relative;
        /* box-shadow: 0 0.25rem 0.438rem 0 rgb(0 11 38 / 20%) */
    }

    .s-search-menu {
        width: 78%;
        height: 100px;
        display: flex;
        justify-content: space-between;
        border: 1px solid #2fc7cb;
        border-radius: 10px;
        position: absolute;
        top: -17%;
        left: 11%;
        background: #fff;
        padding: 15px;
    }

    .s-menu-item {
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        color: rgb(110, 106, 106);
    }

    .s-menu-item a {
        text-decoration: none;
        font-size: 20px;
        margin-top: 10px;
        color: rgb(0, 0, 0);
    }

    .active {
        color: #2fc7cb !important;
    }

    .active a {
        color: #2fc7cb;
    }

    .s-search-content {
        width: 100%;
        height: 78%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 20px 0;
        border-radius: 8px;
        background: linear-gradient(90deg, rgba(204,248,250,1) 0%, rgba(162,239,252,1) 39%, rgba(0,212,255,1) 100%);
        overflow: hidden;
        padding-top: 100px;
    }

    .s-search-content .inputs {
        width: 100%;
        padding: 10px 150px;
    }

    .s-search-input {
        width: 100%;
        height: 50px;
        border-radius: 20px;
        border: 1px solid #2fc7cb;
        padding: 0 20px;
    }

    .search-button-parent {
        width: 100%;
        padding: 20px 0;
        display: flex;
        justify-content: center;
    }

    .s-btn-primary {
        background: #2fc7cb;
        color: #fff;
        width: 180px;
        height: 50px;
        border-radius: 10px;
    }


</style>