<template>
    <div class="header">
        <Navbar />
        <router-view></router-view>
    </div>
</template>
<script>
import Navbar from './Main/Navbar.vue'

export default {
    name: 'Main',
    components: {
        Navbar,
    }
}
</script>
<style lang="css">
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

    p, h1, h2, h3, h4, h5 {
        font-family: 'Open Sans', sans-serif;
    }

    .header {
        width: 100%;
        height: 80px;
        border-bottom: 1px solid #2fc7cb;
    }
</style>